body {
    background-color: #3D7AD6;
}

.head {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-help {
    font-family: arial,sans-serif;
    font-size: 30px;
}

.back {
    display: inline-block;
    font-family: arial,sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: rgb(68,68,68);
    text-decoration: none;
    user-select: none;
    padding: .2em 1.2em;
    outline: none;
    border: 2px solid rgba(0,0,0,.1);
    border-radius: 2px;
    background: #236fe2;
    transition: all .218s ease 0s;
}

.back:hover{
    color: rgb(24,24,24);
    border: 1px solid rgb(198, 198, 198);
    background: #00388d;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.back:active {
    color: rgb(51,51,51);
    border: 1px solid rgb(204,204,204);
    background: #00388d;
    box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
}

.main-text {
    text-align: center;
    border: 4px solid black;
    margin-top: 10%;
    font-size: 20px;
}